@font-face {
  font-family: 'SBAggroB';
  src: url('SBAggroB.svg#SBAggroB') format('svg'),
       url('SBAggroB.ttf') format('truetype'),
       url('SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sbagrrob';
  src: url('sbagrrob.eot');
  src: url('sbagrrob.eot?#iefix') format('embedded-opentype'),
       url('sbagrrob.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

