@charset "UTF-8";
@font-face {
    font-family: 'SBAggroM';
    src: url('https://rawcdn.githack.com/zasm1n/Font/bde52bff6859410e1e9695efbb4d6dcf1cdbfacc/SBAggro/SBAggroM.svg#SBAggroM') format('svg'),
         url('https://rawcdn.githack.com/zasm1n/Font/bde52bff6859410e1e9695efbb4d6dcf1cdbfacc/SBAggro/SBAggroM.ttf') format('truetype'),
         url('https://rawcdn.githack.com/zasm1n/Font/bde52bff6859410e1e9695efbb4d6dcf1cdbfacc/SBAggro/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sbagrrom';
    src: url('https://rawcdn.githack.com/zasm1n/Font/bde52bff6859410e1e9695efbb4d6dcf1cdbfacc/SBAggro/sbagrrom.eot');
    src: url('https://rawcdn.githack.com/zasm1n/Font/bde52bff6859410e1e9695efbb4d6dcf1cdbfacc/SBAggro/sbagrrom.eot?#iefix') format('embedded-opentype'),
         url('https://rawcdn.githack.com/zasm1n/Font/bde52bff6859410e1e9695efbb4d6dcf1cdbfacc/SBAggro/sbagrrom.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
