@font-face {
  font-family: 'SBAggroL';
  src: url('SBAggroL.svg#SBAggroL') format('svg'),
       url('SBAggroL.ttf') format('truetype'),
       url('SBAggroL.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sbagrrol';
  src: url('sbagrrol.eot');
  src: url('sbagrrol.eot?#iefix') format('embedded-opentype'),
       url('sbagrrol.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

